services:

    swingmusic:
        image: bitnik212/swingmusic:latest    
        container_name: swingmusic
        ports:
            - '8200:1970'
        volumes:
            - ./music:/root/music
            - ./data:/data
        restart: unless-stopped
